extends layout

block content
  .row 
    nav.navbar.navbar-expand-lg.bg-body-tertiary
      .container-fluid
        a.navbar-brand(href='#') Navbar
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page' href='#') Home
            li.nav-item
              a.nav-link(href='#') About
            li
              a.nav-link(href='#') Price 
            li.nav-item 
              a.nav-link(href='#') Link



    h1 Welcome to #{title}
      img(src="/images/Y.Nanthachai.png", alt="Logo")
    h2 Hello Login
      if isLoggedIn
        h3 You are logged in.
          form(name="logout", method="POST", action="logout")
        div
          input(type="submit", value="logout")
      else 
        form(name="login", method="POST", action="login") 
          div 
            label(for="email") Email
            input(name="email", type="email", placeholder="youremail@email.com")
          div 
            label(for="password")  Password 
            input(name="password", type="password", placeholder="password")
          div
            input(type="submit", value="login")
    h2= message
