extends layout

block content
  .row 
    .col 
      .card
        img.card-img-bottom(src='/images/Y.Nanthachai.png', class='img-fluid' alt='ogo')
      p.h1 Welcome to #{title} 👋 #{message}
      p.h2 Please Login.
        if isLoggedIn
          p.h3 You are logged in.
            form(name="logout", method="POST", action="logout")
          div
            input(type="submit", value="logout")
        else  
          form(name="login", method="POST", action="login") 
              .mb-3
                label.form-label(for='email1') Email address
                input.form-control(type='email', id='email1', name='email', aria-describedby='emailHelp', placeholder='youremail@email.com')
              .mb-3
                label.form-label(for='password') Password
                input.form-control(type='password', id='password', name='password' placeholder='password')
              .mb-3.form-check
                input.form-check-input(type='checkbox', id='exampleCheck1')
                label.form-check-label(for='exampleCheck1') Check me out
              button.btn.btn-primary(type='submit') Submit 
  