doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
  body
    block content
  footer 
    block footer
      p Copyright Y.Nanthachai All rights reserved.
  script 
    block script
      script(src="/javascripts/bootstrap.bundle.min.js") 