doctype html
html(lang="en")
  head
    title= title
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/bootstrap.bundle.main.js") 
  body
    block content
